.feynman__link {
  font-size: 36px;
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-weight: 400;
  text-decoration: none;
  color: black;
 }

 .feynman__link:hover {
  opacity: 0.3;
	transition: opacity 0.2s linear;
}

