.header__subtitle{
  max-width: 388px;
  width: 100%;
  position: absolute;
  left: 64px;
  bottom: 30px;
  font-size: 18px;
  color: black;
  font-weight: 500;
  line-height: 25px;
  z-index: 10;
  margin: 0;
  padding: 0;
}
